:root{
    --primary:#6209DB;
}
body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    min-height: 90px ;
}

.navbar .btn{
    padding: .625rem 1.25rem !important;
    border-color: transparent;
}

.text-primary{
    color: var(--primary) !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary) ;
}


.btn{
    padding: 1rem;
}

.btn-primary:hover{
    background-color: var(--primary);
    
}


